<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间：对应的接口的全类名-->
<mapper namespace="com.woniu.pay.mapper.TuitionFeeMapper">
    <!--id和对应的mapper接口中的方法名一样-->
<!--    <select id="getAllStudyMoney" resultType="Tuition">-->
<!--        select * from tuition-->
<!--        <where>-->
<!--            <if test="studyYear!=null and studyYear!=''">-->
<!--                study_year = #{studyYear}-->
<!--            </if>-->
<!--            <if test="status!=null and status!=''">-->
<!--                and status=#{status}-->
<!--            </if>-->
<!--            and student_id=#{studentId}-->
<!--        </where>-->
<!--    </select>-->
</mapper>